<div class="space-12"></div>
<div class="row">
    <div class="col-sm-12 center">
        <ul class="pagination">
        {% if formulario.has_previous %}
            <li><a href="?page={{ formulario.previous_page_number }}">Previo</a></li>
        {% endif %}
        {% for pagina in paginador.page_range %}
            <li {% if formulario.number == pagina  %}class="active"{% endif %}><a href="?page={{ pagina }}">{{ pagina }}</a></li>
        {% endfor %}
        {% if formulario.has_next %}
            <li><a href="?page={{ formulario.next_page_number }}">Siguiente</a></li>
        {% endif %}
        </ul>
    </div>
</div>