{% load consulta_extras %}

{% for form in formulario %}
<div class="space-12"></div>

<div class="widget-box">
    <div class="widget-header">
        <h5 class="widget-title smaller">Registro no. {{ form.registro.value }}</h5>
        <div class="widget-toolbar">
        {% if form.is_valid %}
            <span class="badge badge-success">Registro v&aacute;lido</span>
            <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
            </a>
        {% else %}
            <span class="badge badge-danger">Tiene validaciones pendientes</span>
        {% endif %}
        </div>
    </div>
    <div class="widget-body">
        <form id="record-{{ form.registro.value }}" class="form-horizontal" method="post" action="" name="record-{{ form.registro.value }}">
        {% csrf_token %}

        <div class="widget-main">
        <div class="row">
            <div class="col-sm-6 form-group {% if form.IdHogar.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right" >{{ form.IdHogar.label }}: </label>
                <div class="col-sm-9" >{{ form.IdHogar | addcss:'form-control' }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12 " >{{ form.IdHogar.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.IdPersona.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.IdPersona.label }}: </label>
                <div class="col-sm-9">{{ form.IdPersona | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12"><p class="text-warning">{{ form.IdPersona.errors }}</p></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.PrimerApellido.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.PrimerApellido.label }}: </label>
                <div class="col-sm-9">{{ form.PrimerApellido | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.PrimerApellido.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.SegundoApellido.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.SegundoApellido.label }}: </label>
                <div class="col-sm-9">{{ form.SegundoApellido | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.SegundoApellido.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.Nombre.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.Nombre.label }}: </label>
                <div class="col-sm-9">{{ form.Nombre | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.Nombre.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.CURP.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.CURP.label }}: </label>
                <div class="col-sm-9">{{ form.CURP | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.CURP.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.Sexo.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.Sexo.label }}: </label>
                <div class="col-sm-9">{{ form.Sexo | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.Sexo.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.EstadoCivil.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.EstadoCivil.label }}: </label>
                <div class="col-sm-9">{{ form.EstadoCivil | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.EstadoCivil.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.Titular.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.Titular.label }}: </label>
                <div class="col-sm-9">{{ form.Titular | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.Titular.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.Parentesco.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.Parentesco.label }}: </label>
                <div class="col-sm-9">{{ form.Parentesco | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.Parentesco.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.OtroDocId.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.OtroDocId.label }}: </label>
                <div class="col-sm-9">{{ form.OtroDocId | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.OtroDocId.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.MunicipioDondePagaBeneficio.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.MunicipioDondePagaBeneficio.label }}: </label>
                <div class="col-sm-9">{{ form.MunicipioDondePagaBeneficio | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.MunicipioDondePagaBeneficio.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.LocalidadResidencia.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.LocalidadResidencia.label }}: </label>
                <div class="col-sm-9">{{ form.LocalidadResidencia | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.LocalidadResidencia.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.NombreVialidad.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.NombreVialidad.label }}: </label>
                <div class="col-sm-9">{{ form.NombreVialidad | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.NombreVialidad.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.NumeroExterior.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.NumeroExterior.label }}: </label>
                <div class="col-sm-9">{{ form.NumeroExterior | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.NumeroExterior.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.NumeroInterior.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.NumeroInterior.label }}: </label>
                <div class="col-sm-9">{{ form.NumeroInterior | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.NumeroInterior.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.CodigoPostal.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.CodigoPostal.label }}: </label>
                <div class="col-sm-9">{{ form.CodigoPostal | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.CodigoPostal.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.AsentamientoHumano.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.AsentamientoHumano.label }}: </label>
                <div class="col-sm-9">{{ form.AsentamientoHumano | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.AsentamientoHumano.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.ReferenciaDomicilio.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.ReferenciaDomicilio.label }}: </label>
                <div class="col-sm-9">{{ form.ReferenciaDomicilio | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.ReferenciaDomicilio.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.Dependencia.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.Dependencia.label }}: </label>
                <div class="col-sm-9">{{ form.Dependencia | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.Dependencia.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.NombrePrograma.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.NombrePrograma.label }}: </label>
                <div class="col-sm-9">{{ form.NombrePrograma | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.NombrePrograma.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.NombreSubprograma.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.NombreSubprograma.label }}: </label>
                <div class="col-sm-9">{{  form.NombreSubprograma | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.NombreSubprograma.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.TipoApoyo.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.TipoApoyo.label }}: </label>
                <div class="col-sm-9">{{ form.TipoApoyo | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.TipoApoyo.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.Beneficio.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.Beneficio.label }}: </label>
                <div class="col-sm-9">{{ form.Beneficio | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.Beneficio.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.CantBeneficios.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.CantBeneficios.label }}: </label>
                <div class="col-sm-9">{{ form.CantBeneficios | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.CantBeneficios.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.TotalPesosBeneficios.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.TotalPesosBeneficios.label }}: </label>
                <div class="col-sm-9">{{ form.TotalPesosBeneficios | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.TotalPesosBeneficios.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.InversionFederal.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.InversionFederal.label }}: </label>
                <div class="col-sm-9">{{ form.InversionFederal | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.InversionFederal.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.InversionEstatal.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.InversionEstatal.label }}: </label>
                <div class="col-sm-9 input-group">{{ form.InversionEstatal | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.InversionEstatal.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.InversionMunicipal.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.InversionMunicipal.label }}: </label>
                <div class="col-sm-9 input-group">{{ form.InversionMunicipal | addcss:'form-control' }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.InversionMunicipal.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.InversionOtras.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.InversionOtras.label }}: </label>
                <div class="col-sm-9">{{ form.InversionOtras | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.InversionOtras.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.FuentesRecurso.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.FuentesRecurso.label }}: </label>
                <div class="col-sm-9 input-group">{{ form.FuentesRecurso | addcss:'form-control' }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.FuentesRecurso.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.MesPeriodoPago.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.MesPeriodoPago.label }}: </label>
                <div class="col-sm-9">{{ form.MesPeriodoPago | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.MesPeriodoPago.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.PeriodicidadEntregaBeneficio.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.PeriodicidadEntregaBeneficio.label }}: </label>
                <div class="col-sm-9 input-group">{{ form.PeriodicidadEntregaBeneficio | addcss:'form-control' }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.PeriodicidadEntregaBeneficio.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.NumeroEntregaBeneficio.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.NumeroEntregaBeneficio.label }}: </label>
                <div class="col-sm-9">{{ form.NumeroEntregaBeneficio | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.NumeroEntregaBeneficio.errors }}</div>
            </div>
        </div>


        </div>

        {{ form.registro }}

        <div class="widget-toolbox padding-8 clearfix">
        <button class="btn btn-xs btn-success pull-right">
            <span class="bigger-110">Enviar validaciones</span>

            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
        </button>
        </div>

        </form>

    </div>
</div>

{% endfor %}

<div class="col-sm-12">

        <ul class="pagination">
        {% if formulario.has_previous %}
            <li><a href="?page={{ formulario.previous_page_number }}">Previo</a></li>
        {% endif %}
        {% for pagina in paginador.page_range %}
            <li><a href="?page={{ pagina }}">{{ pagina }}</a></li>
        {% endfor %}
        {% if formulario.has_next %}
            <li><a href="?page={{ formulario.next_page_number }}">Siguiente</a></li>
        {% endif %}
        </ul>

</div>