{% load consulta_extras %}

<div class="space-12"></div>
<div class="widget-box">
    <div class="widget-header">
        <h5 class="widget-title smaller">Registro no. {{ registro.num_record }}</h5>
        <div class="widget-toolbar">
            <span class="badge badge-danger">Tiene validaciones pendientes</span>
        </div>
    </div>
    <div class="widget-body">
        <form class="form-horizontal" method="post" action="">
        {% csrf_token %}

        {{ formulario.management_form }}
        {% for form in formulario %}
            <ul>
                <li>{{ form.registro }}</li>
                <li>{{ form.multilocalidad }}</li>
            </ul>
        {% endfor %}

        <div class="widget-toolbox padding-8 clearfix">
            <button class="btn btn-xs btn-success pull-right">
                <span class="bigger-110">Enviar validaciones</span>

                <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
            </button>
        </div>
        </form>
    </div>
</div>
