{% for registro in datos.registros %}
<hr />

<div class="space-12"></div>
<div class="widget-box">
    <div class="widget-header">
        <h5 class="widget-title smaller">Registro no. {{ registro.num_record }}</h5>
        <div class="widget-toolbar">
            <span class="badge badge-danger">Tiene validaciones pendientes</span>
        </div>
    </div>
    <div class="widget-body">
        <form class="form-horizontal">

        <div class="widget-main">

            <div class="form-group {% if False %}has-error{% else %}has-success{% endif %}">
            <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">Multilocalidad:</label>
            <div class="col-xs-12 col-sm-5">
                <select class="width-100" name="carlist" form="carform">
                  <option value="---">---</option>
                  <option value="SI">SI</option>
                  <option value="NO">NO</option>
                </select>
            </div>
            {% if False %}
            <div class="help-block col-xs-12 col-sm-reset inline">El valor debe ser SI o NO</div>
            {% endif %}
            </div>
            <div class="form-group has-error">
                <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">R.F.C.:</label>
                <div class="col-xs-12 col-sm-5">
                    <span class="block input-icon input-icon-right">
                    <input id="inputError" class="width-100" type="text">
                    <i class="ace-icon fa fa-times-circle"></i>
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline"> Error tip help! </div>
            </div>
            <div class="form-group has-error">
                <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">Total de beneficiados:</label>
                <div class="col-xs-12 col-sm-5">
                    <span class="block input-icon input-icon-right">
                    <input id="inputError" class="width-100" type="text">
                    <i class="ace-icon fa fa-times-circle"></i>
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline"> Error tip help! </div>
            </div>
            <div class="form-group has-error">
                <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">Mujeres Beneficiadas:</label>
                <div class="col-xs-12 col-sm-5">
                    <span class="block input-icon input-icon-right">
                    <input id="inputError" class="width-100" type="text">
                    <i class="ace-icon fa fa-times-circle"></i>
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline"> Error tip help! </div>
            </div>
            <div class="form-group has-error">
                <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">Viviendas Beneficiadas:</label>
                <div class="col-xs-12 col-sm-5">
                    <span class="block input-icon input-icon-right">
                    <input id="inputError" class="width-100" type="text">
                    <i class="ace-icon fa fa-times-circle"></i>
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline"> Error tip help! </div>
            </div>
            <div class="form-group has-error">
                <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">Municipio donde se encuentra:</label>
                <div class="col-xs-12 col-sm-5">
                    <span class="block input-icon input-icon-right">
                    <input id="inputError" class="width-100" type="text">
                    <i class="ace-icon fa fa-times-circle"></i>
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline"> Error tip help! </div>
            </div>
            <div class="form-group has-error">
                <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">Localidad donde se encuentra:</label>
                <div class="col-xs-12 col-sm-5">
                    <span class="block input-icon input-icon-right">
                    <input id="inputError" class="width-100" type="text">
                    <i class="ace-icon fa fa-times-circle"></i>
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline"> Error tip help! </div>
            </div>
            <div class="form-group has-error">
                <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">Multilocalidad:</label>
                <div class="col-xs-12 col-sm-5">
                    <span class="block input-icon input-icon-right">
                    <input id="inputError" class="width-100" type="text">
                    <i class="ace-icon fa fa-times-circle"></i>
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline"> Error tip help! </div>
            </div>
            <div class="form-group has-error">
                <label for="inputError" class="col-xs-12 col-sm-3 col-md-3 control-label no-padding-right">Multilocalidad:</label>
                <div class="col-xs-12 col-sm-5">
                    <span class="block input-icon input-icon-right">
                    <input id="inputError" class="width-100" type="text">
                    <i class="ace-icon fa fa-times-circle"></i>
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline"> Error tip help! </div>
            </div>






            <div class="form-group has-success">
                <label for="inputSuccess" class="col-xs-12 col-sm-3 control-label no-padding-right">Input with success</label>
                <div class="col-xs-12 col-sm-5">
                    <span class="block input-icon input-icon-right">
                        <input id="inputSuccess" class="width-100" type="text">
                        <i class="ace-icon fa fa-check-circle"></i>
                    </span>
                </div>
                <div class="help-block col-xs-12 col-sm-reset inline"> Success tip help! </div>
            </div>
        </div>
        <div class="widget-toolbox padding-8 clearfix">
            <button class="btn btn-xs btn-success pull-right">
                <span class="bigger-110">Enviar validaciones</span>

                <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
            </button>
        </div>
        </form>
    </div>
</div>
{% endfor %}