{% load consulta_extras %}
{% include "paginador.html" %}

{% for form in formulario %}
<div class="space-12"></div>

<div class="widget-box{% if form.is_valid %} collapsed{% endif %}">
    <div class="widget-header">
        <h4 class="widget-title smaller"><strong>Registro no. {{ form.registro.value }}</strong></h4>
        <div class="widget-toolbar">
        {% if form.is_valid %}
            <span class="badge badge-success">Registro v&aacute;lido</span>
            <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
            </a>
        {% else %}
            <span class="badge badge-danger">Tiene validaciones pendientes</span>
        {% endif %}
        </div>
    </div>
    <div class="widget-body">
        <form id="record-{{ form.registro.value }}" class="form-horizontal" method="post" action="" name="record-{{ form.registro.value }}">
        {% csrf_token %}

        <div class="widget-main">
        <div class="row">
            <div class="col-sm-6 form-group {% if form.idhogar.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right" >{{ form.idhogar.label }}: </label>
                <div class="col-sm-9" >{{ form.idhogar | addcss:'form-control' }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12 " >{{ form.idhogar.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.idpersona.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.idpersona.label }}: </label>
                <div class="col-sm-9">{{ form.idpersona | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12"><p class="text-warning">{{ form.idpersona.errors }}</p></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.primerapellido.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.primerapellido.label }}: </label>
                <div class="col-sm-9">{{ form.primerapellido | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.primerapellido.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.segundoapellido.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.segundoapellido.label }}: </label>
                <div class="col-sm-9">{{ form.segundoapellido | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.segundoapellido.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.nombre.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.nombre.label }}: </label>
                <div class="col-sm-9">{{ form.nombre | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.nombre.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.curp.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.curp.label }}: </label>
                <div class="col-sm-9">{{ form.curp | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.curp.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.sexo.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.sexo.label }}: </label>
                <div class="col-sm-9">{{ form.sexo | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.sexo.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.estadocivil.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.estadocivil.label }}: </label>
                <div class="col-sm-9">{{ form.estadocivil | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.estadocivil.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.titular.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.titular.label }}: </label>
                <div class="col-sm-9">{{ form.titular | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.titular.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.parentesco.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.parentesco.label }}: </label>
                <div class="col-sm-9">{{ form.parentesco | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.parentesco.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.otrodocto.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.otrodocto.label }}: </label>
                <div class="col-sm-9">{{ form.otrodocto | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.otrodocto.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.cvemunicipiopago.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.cvemunicipiopago.label }}: </label>
                <div class="col-sm-9">{{ form.cvemunicipiopago | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.cvemunicipiopago.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.localidadpago.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.localidadpago.label }}: </label>
                <div class="col-sm-9">{{ form.localidadpago | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.localidadpago.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.localidadresidencia.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.localidadresidencia.label }}: </label>
                <div class="col-sm-9">{{ form.localidadresidencia | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.localidadresidencia.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.nombrevialidad.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.nombrevialidad.label }}: </label>
                <div class="col-sm-9">{{ form.nombrevialidad | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.nombrevialidad.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.numexterior.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.numexterior.label }}: </label>
                <div class="col-sm-9">{{ form.numexterior | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.numexterior.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.numinterior.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.numinterior.label }}: </label>
                <div class="col-sm-9">{{ form.numinterior | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.numinterior.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.codigopostal.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.codigopostal.label }}: </label>
                <div class="col-sm-9">{{ form.codigopostal | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.codigopostal.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.asentamientohumano.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.asentamientohumano.label }}: </label>
                <div class="col-sm-9">{{ form.asentamientohumano | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.asentamientohumano.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.referenciadomicilio.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.referenciadomicilio.label }}: </label>
                <div class="col-sm-9">{{ form.referenciadomicilio | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.referenciadomicilio.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.dependencia.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.dependencia.label }}: </label>
                <div class="col-sm-9">{{ form.dependencia | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.dependencia.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.claveprograma.errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.claveprograma.label }}: </label>
                <div class="col-sm-9">{{  form.claveprograma | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.claveprograma.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.clavesubprograma.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.clavesubprograma.label }}: </label>
                <div class="col-sm-9">{{ form.clavesubprograma | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.clavesubprograma.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.tipoapoyo.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.tipoapoyo.label }}: </label>
                <div class="col-sm-9">{{ form.tipoapoyo | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.tipoapoyo.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.beneficio.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.beneficio.label }}: </label>
                <div class="col-sm-9">{{ form.beneficio | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.beneficio.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.cantbeneficios.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.cantbeneficios.label }}: </label>
                <div class="col-sm-9">{{ form.cantbeneficios | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.cantbeneficios.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.totalpesosbeneficios.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.totalpesosbeneficios.label }}: </label>
                <div class="col-sm-9">{{ form.totalpesosbeneficios | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.totalpesosbeneficios.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.inversionfederal.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.inversionfederal.label }}: </label>
                <div class="col-sm-9 input-group">{{ form.inversionfederal | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.inversionfederal.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.inversionestatal.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.inversionestatal.label }}: </label>
                <div class="col-sm-9 input-group">{{ form.inversionestatal | addcss:'form-control' }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.inversionestatal.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.inversionmunicipal.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.inversionmunicipal.label }}: </label>
                <div class="col-sm-9">{{ form.inversionmunicipal | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.inversionmunicipal.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.inversionotras.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.inversionotras.label }}: </label>
                <div class="col-sm-9 input-group">{{ form.inversionotras | addcss:'form-control' }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.inversionotras.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.fuentesrecurso.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.fuentesrecurso.label }}: </label>
                <div class="col-sm-9">{{ form.fuentesrecurso | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.fuentesrecurso.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.mesperiodopago.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.mesperiodopago.label }}: </label>
                <div class="col-sm-9 input-group">{{ form.mesperiodopago | addcss:'form-control' }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.mesperiodopago.errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form.periodicidadentrega.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.periodicidadentrega.label }}: </label>
                <div class="col-sm-9">{{ form.periodicidadentrega | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.periodicidadentrega.errors }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group {% if form.numentrega.errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form.numentrega.label }}: </label>
                <div class="col-sm-9 input-group">{{ form.numentrega | addcss:'form-control' }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12">{{ form.numentrega.errors }}</div>
            </div>

        </div>


        </div>

        {{ form.registro }}

        <div class="widget-toolbox padding-8 clearfix">
        <button class="btn btn-xs btn-success pull-right">
            <span class="bigger-110">Enviar validaciones</span>

            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
        </button>
        </div>

        </form>

    </div>
</div>

{% endfor %}

{% include "paginador.html" %}