{% load consulta_extras %}

<div class="row">
    <div class="col-sm-12">
        <ul class="pagination">
        {% if formulario.has_previous %}
            <li><a href="?page={{ formulario.previous_page_number }}">Previo</a></li>
        {% endif %}
        {% for pagina in paginador.page_range %}
            <li><a href="?page={{ pagina }}">{{ pagina }}</a></li>
        {% endfor %}
        {% if formulario.has_next %}
            <li><a href="?page={{ formulario.next_page_number }}">Siguiente</a></li>
        {% endif %}
        </ul>
    </div>
</div>

{% for form in formulario %}
<div class="space-12"></div>

<div class="widget-box">
    <div class="widget-header">
        <h5 class="widget-title smaller">Registro no. {{ form.registro.value }}</h5>
        <div class="widget-toolbar">
        {% if form.is_valid %}
            <span class="badge badge-success">Registro v&aacute;lido</span>
            <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
            </a>
        {% else %}
            <span class="badge badge-danger">Tiene validaciones pendientes</span>
        {% endif %}
        </div>
    </div>
    <div class="widget-body">
        <form id="record-{{ form.registro.value }}" class="form-horizontal" method="post" action="" name="record-{{ form.registro.value }}">
        {% csrf_token %}

        <div class="widget-main">

        <div class="row">
            <div class="col-sm-6 form-group {% if form..errors  %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right" >{{ form..label }}: </label>
                <div class="col-sm-9" >{{ form. | addcss:'form-control' }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12 " >{{ form..errors }}</div>
            </div>
            <div class="col-sm-6 form-group {% if form..errors %}has-error{% else %}has-success{% endif %} ">
                <label class="col-sm-3 control-label no-padding-right">{{ form..label }}: </label>
                <div class="col-sm-9">{{ form. | addcss:'form-control'  }}</div>
                <div class="space-2"></div>
                <div class="col-sm-12"><p class="text-warning">{{ form..errors }}</p></div>
            </div>
        </div>

        </div>

        {{ form.registro }}

        <div class="widget-toolbox padding-8 clearfix">
        <button class="btn btn-xs btn-success pull-right">
            <span class="bigger-110">Enviar validaciones</span>

            <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
        </button>
        </div>

        </form>

    </div>
</div>

{% endfor %}

<div class="col-sm-12">

        <ul class="pagination">
        {% if formulario.has_previous %}
            <li><a href="?page={{ formulario.previous_page_number }}">Previo</a></li>
        {% endif %}
        {% for pagina in paginador.page_range %}
            <li><a href="?page={{ pagina }}">{{ pagina }}</a></li>
        {% endfor %}
        {% if formulario.has_next %}
            <li><a href="?page={{ formulario.next_page_number }}">Siguiente</a></li>
        {% endif %}
        </ul>

</div>