{% extends 'base.html' %}

{#% block head_printstuff %#}
{#% endblock %#}

{% block sidebar %}

{% endblock %}

{#% block breadcrumb_zone %#}
{#% endblock %#}

{% block settingsbox %}
{% endblock %}

{% block content %}

<div class="col-xs-12">

    <!-- Aqui empieza -->
    <div class="infobox infobox-purple">
      <div class="infobox-icon">
         <i class="ace-icon fa fa-comments"></i>
      </div>

      <div class="infobox-data">
         <span class="infobox-data-number">{{ trabajo.Estatus }}</span>
         <div class="infobox-content">ESTATUS</div>
      </div>
    </div>

    <div class="infobox infobox-red">
      <div class="infobox-icon">
         <i class="ace-icon fa fa-comments"></i>
      </div>

      <div class="infobox-data">
         <span class="infobox-data-number">{{ trabajo.Trimestre.identPeriodo }}</span>
         <div class="infobox-content">TRIMESTRE</div>
      </div>

    </div>

    <div class="infobox infobox-blue2">
      <div class="infobox-data">
         <span class="infobox-data-number">{{ trabajo.AnioEjercicio }}</span>
         <div class="infobox-content">Año de Ejercicio</div>
      </div>
    </div>

    <div class="infobox infobox-blue2">
      <div class="infobox-data">
         <span class="infobox-data-number">{{ trabajo.CantidadRegistros }}</span>
         <div class="infobox-content">REGISTROS</div>
      </div>
    </div>

    <div class="infobox infobox-blue2">
      <div class="infobox-data">
         <span class="infobox-data-number">{{ trabajo.TipoPadron.nombrePadron }}</span>
         <div class="infobox-content">Tipo de Padrón</div>
      </div>
    </div>

    {% if trabajo.Estatus_id = 1 %}
        {% if trabajo.TipoPadron_id == 1 %}
            <p>El trabajo es de tipo {{ trabajo.TipoPadron.nombrePadron }}</p>
            {% include 'tabla_actor.html' %}
        {% elif trabajo.TipoPadron_id == 2 %}
            {% include 'tabla_personas.html' %}
        {% elif trabajo.TipoPadron_id == 3 %}
            {% include 'tabla_poblacion.html' %}
        {% else %}
            <p>Hubo un error al elegir el tipo de padron</p>
        {% endif %}
    {% elif  trabajo.Estatus_id = 2 %}
        <p>Aqui lo del estatus 2</p>
    {% elif  trabajo.Estatus_id = 3 %}
        <p>Aqui lo del estatus 3</p>
    {% elif  trabajo.Estatus_id = 4 %}
         <p>Aqui lo del estatus 4</p>
    {% else %}
        <p>Aquí no hay nada</p>
    {% endif %}
</div>

{% endblock %}